@using Congo.Web.ViewModels
@model System.Collections.Generic.List<ProductReviewVM>

@{
    Layout = null;
}

@if (Model.Count > 0)
{
    foreach (ProductReviewVM review in Model)
    {
        <div class="review-container">
            <div><strong>@review.ReviewerName</strong> said:</div>
            @review.Review
            <div>
                <a class="btn btn-default margin-top" href="/home/deleteReview?reviewId=@review.Id&productId=@review.ProductId">Delete</a>
            </div>
        </div>
    }
}
else
{
    <p>There are no reviews for this product.</p>
}